<a href="https://colab.research.google.com/github/AbdulIbrahia/Abdul/blob/main/Copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import csv

with open("/content/drive/MyDrive/DATA/olympic_medals.csv") as f:
    reader = csv.DictReader(f)
    olympics_data = list(reader)

# print the first 10 rows of data
for index in range(10):
    print(olympics_data[index])

OrderedDict([('Gender', 'M'), ('Event', '10000M Men'), ('Location', 'Rio'), ('Year', '2016'), ('Medal', 'G'), ('Name', 'Mohamed FARAH'), ('Nationality', 'GBR'), ('Result', '25:05.17')])
OrderedDict([('Gender', 'M'), ('Event', '10000M Men'), ('Location', 'Rio'), ('Year', '2016'), ('Medal', 'S'), ('Name', 'Paul Kipngetich TANUI'), ('Nationality', 'KEN'), ('Result', '27:05.64')])
OrderedDict([('Gender', 'M'), ('Event', '10000M Men'), ('Location', 'Rio'), ('Year', '2016'), ('Medal', 'B'), ('Name', 'Tamirat TOLA'), ('Nationality', 'ETH'), ('Result', '27:06.26')])
OrderedDict([('Gender', 'M'), ('Event', '10000M Men'), ('Location', 'Beijing'), ('Year', '2008'), ('Medal', 'G'), ('Name', 'Kenenisa BEKELE'), ('Nationality', 'ETH'), ('Result', '27:01.17')])
OrderedDict([('Gender', 'M'), ('Event', '10000M Men'), ('Location', 'Beijing'), ('Year', '2008'), ('Medal', 'S'), ('Name', 'Sileshi SIHINE'), ('Nationality', 'ETH'), ('Result', '27:02.77')])
OrderedDict([('Gender', 'M'), ('Event', '10000M Men'), ('Location', 'Beijing'), ('Year', '2008'), ('Medal', 'B'), ('Name', 'Micah KOGO'), ('Nationality', 'KEN'), ('Result', '27:04.11')])
OrderedDict([('Gender', 'M'), ('Event', '10000M Men'), ('Location', 'Sydney'), ('Year', '2000'), ('Medal', 'G'), ('Name', 'Haile GEBRSELASSIE'), ('Nationality', 'ETH'), ('Result', '27:18.20')])
OrderedDict([('Gender', 'M'), ('Event', '10000M Men'), ('Location', 'Sydney'), ('Year', '2000'), ('Medal', 'S'), ('Name', 'Paul TERGAT'), ('Nationality', 'KEN'), ('Result', '27:18.29')])
OrderedDict([('Gender', 'M'), ('Event', '10000M Men'), ('Location', 'Sydney'), ('Year', '2000'), ('Medal', 'B'), ('Name', 'Assefa MEZGEBU'), ('Nationality', 'ETH'), ('Result', '27:19.75')])
OrderedDict([('Gender', 'M'), ('Event', '10000M Men'), ('Location', 'Barcelona'), ('Year', '1992'), ('Medal', 'G'), ('Name', 'Khalid SKAH'), ('Nationality', 'MAR'), ('Result', '27:46.70')])

In [ ]:
df = pd.DataFrame(olympics_data)
df.head()

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,GBR,25:05.17
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77

In [ ]:
dfSize = df.size
dfRows = df.shape[0]
dfColumns = df.shape[1]

In [ ]:
len(df)

2394

In [ ]:
df

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,GBR,25:05.17
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77
...,...,...,...,...,...,...,...,...
2389,W,Triple Jump Women,Athens,2004,S,Hrysopiyi DEVETZI,GRE,15.25
2390,W,Triple Jump Women,Athens,2004,B,Tatyana LEBEDEVA,RUS,15.14
2391,W,Triple Jump Women,Atlanta,1996,G,Inessa KRAVETS,UKR,15.33
2392,W,Triple Jump Women,Atlanta,1996,S,Inna LASOVSKAYA,RUS,14.98
2393,W,Triple Jump Women,Atlanta,1996,B,Sarka KASPARKOVA,CZE,14.98

In [ ]:
df.shape

(2394, 8)

In [ ]:
nrows = df.shape[0]
nrows

2394

In [ ]:
ncols = df.shape[1]
ncols

8

In [ ]:
dfDatatypes = df.dtypes

print(dfDatatypes)

Gender         object
Event          object
Location       object
Year           object
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

In [ ]:
# df["City"] returns the column under "City", unique()
uniqueLocations = len(df["Location"].unique())

print(uniqueLocations)

23

In [ ]:
usaWin = len(df[df["Nationality"] == "USA"])

print(usaWin)

638

In [ ]:
medalsPerNationality = df.groupby("Nationality").size()

print(medalsPerNationality)

Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Length: 97, dtype: int64